body {
    font-family: Arial, sans-serif;
}

.card {
    width: 350px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

.btn-success {
    transition: 0.3s;
}

.btn-success:hover {
    opacity: 0.8;
}